body {
    font-family: 'Roboto', sans-serif;
    background-color: #434967;
}
#result {
    top: 100px;
    display: block;
    width: 445px;
    height: 50px;
    color: black;
    font-weight: 700;
    font-size: 30px;
    margin-left: 410px;
    background: #F5F5F5;
    outline: none;
    letter-spacing: 4px;
    position: relative;  
    text-align: right;
}
#result:hover {
    cursor: pointer;
}
.style, .style2 {
    font-family: 'Roboto', sans-serif;
}
button , .button{
    background-color: #434967;
    position: relative;
    top: 100px;
    left: 400px;
    display: inline-block;
    margin: 10 10;
    -webkit-border-radius: 10px;  
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    padding: 0px;
    outline: none;
    border: 0px;
} 
button {
    -webkit-box-shadow: 
        0px 8px #A0A2A9; /* shadow */
}
.button {
    -webkit-box-shadow: 
        0px 8px #FC3939; /* shadow */
}
button span , .button .span{
    -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    display: inline-block;
    height: 40px;
    width: 70px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}
button span {
    background-color: #A0A2A9;
}
.button .span {
    background-color: #FC3939;
}
button span:hover, .button .span:hover {
    color: #000000;
    text-shadow: 0px -1px #000000;
    cursor: pointer;
}
button:active {
    -webkit-box-shadow: 
        0px 8px #A0A2A9; /* shadow */
}
.button:active {
    -webkit-box-shadow: 
        0px 8px #FC3939; /* shadow */
}
button:active span, .button:active .span{
    -webkit-transform: translate(0, 5px); /* depth of button press */
}
button span:after , .button .span:after{
    display: block;    
    position: relative;  
    font-weight: 700;
    color: #FFFFFF;
    font-size: 24px;
}